* {
    box-sizing: border-box;
}

body {
    margin: 0;
    background-color: white;
    font-family: 'Lato', sans-serif;
    color: #291f1a;
    font-weight: 300;
}

h1,
h2 {
    text-align: center;
}


/*zdjecie*/

#section .frontend-developer {
    position: relative;
    width: 50%;
    margin-left: 25%;
    background-size: cover;
    background-position: center;
}


/*tekst*/

header {
    background-image: url(../img/man-1.jpg);
    background-size: contain;
    background-position: 50%;
    background-repeat: no-repeat;
    
   
}

#header .header-content {
     padding: 26vh;
    position: relative;
    text-align: center;
    font-weight: 800;
}

#frontend-developer {
    margin: 30px;
    font-weight: 400;
    font-size:15px;
    position: relative;
    font-family: "Roboto", sans-serif;
    text-align: center;
    
}

#frontend-developer>h2 {
    margin: 20px;
    font-weight: 800;
    font-size: 30px;
     position: relative;
    font-family: "Roboto", sans-serif;
    text-align: center;
}



@media (min-width:992px) {
    div {
        width: 50%;
    }
}