* {
    box-sizing: border-box;
}

body {
    margin: 0;
    background-color: white;
    font-family: 'Lato', sans-serif;
    color: white;
    font-weight: 300;
    background-image: url(../img/man-2.jpg);
    background-size: cover;
    background-position: center top;
    padding: 200px 50px 50px 790px;
    background-repeat: no-repeat;
    width: 100%;
}

#header .header-content h1 {
    font-family: "Roboto", sans-serif;
    font-size: 23px;
    font-weight: 600;
    text-align: left;
    color: white;
}

#header .header-content h2 {
    color: white;
    font-family: "Roboto", sans-serif;
    font-size: 30px;
    font-weight: 500;
    text-align: left;
}


/*header styles stop*/


/*section about styles start*/

@media (min-width:992px) and (max-width:1070px) {
    div h1 h2 {
        width: 70%;
    }
}